<!doctype html>
<html>
    <head>
        <title>SNES ROM Converter: smc to sfc</title>
    </head>
    <body>
        <h1>SNES ROM Converter</h1>
        <h2>smc to sfc</h2>    
        <div id="app"></div>

        <!-- Dependencies -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js"></script>

        <!-- Main -->
        <script src="./static/dist/bundle.js"></script>
    </body>
</html>